* {
  font-family: verdana;
  box-sizing: border-box;
}

h1 {
  padding-top: 5rem;
  text-align: center;
  font-size: 4rem;
  color: white;
}

h2 {
  text-align: center;
  padding: 0 0 1rem 0;
  color: white;
}

input {
  display: inline-block;
  margin: auto;
  border-radius: 5px;
  height: 3rem;
  text-align: center;
  font-size: 1rem;
}

.datepicker input {
  align-self: center;
  width: 30%;
}

label {
  display: inline-block;;
  width: 30%;
  text-align: left;
  color: white;
  padding: 1rem;
}

button {
  background-color: lightgreen;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 0.5rem 1.5rem;
  width: 20%;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

.wrapper {
  width: 94%;
  margin: 0 auto;
  background-color: teal;
  padding-bottom: 2rem;
}

.finder {
  width: 80%;
  margin: 0 auto 4rem auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  border: lightgreen solid 1px;
  border-radius: 5px;
}

.datepicker {
  width: 50%;
  display: flex;
  justify-content: center;
}

.container-intro {
  width: 40%;
  text-align: center;
  padding: 1rem;
  margin: 3.5rem auto;
  border: solid lightgreen 4px;
  border-radius: 15px;
  font-weight: bold;
  color: white;
}

#dailyDisplay, #nameDisplay  {
  text-align: center;
  padding: 0.5rem;
  margin: auto;
  border-radius: 15px;
  font-weight: bold;
  font-size: 2rem;
  color: yellow;
}

#nameInput {
  width: 40%;
}

.container {
  padding: 0;
  margin: 0;
  border: none;
}
